<div class="col-10 offset-1 About">

<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/BrianRandall">Randall</a>. Brian Randall 
  </p>
  <br />
  <p>
    Today I'm learning from an accelerated bootcamp class through Vanderbilt University.  The speed is very fast.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Brian', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brian Randall</h2>
      <br />
      <p>
        Brian Randall is learning cod and has not consulted with anyone and his coding skills are very basic
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

        private
        def find_model
          @model = Model.find(params[:id]) if params[:id]
        end
      end
</div>